<h1> All Courses For: <%= @school.name %> </h1>  #gives out a link of all courses listed for the link from below

<!-- loop all of @courses and display them, look at cars index to do this -->

<%= link_to 'New Course', new_school_course_path(@school) %>

#finish out loop in index, show, index in schools and show
